img{


max-width: 800px;

    max-height: 300px;

    border-radius: 10px 10px;
}


.card{


    box-shadow: 0 4px 8px rgb(58, 180, 255);;
border-radius: 30px 30px;



}

.btn{



background-color: rgb(58, 180, 255);;
    max-width: 300px;
}

